$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  //margin-bottom: 60px;

  @media (min-width: $screen-md) {
    //justify-content: flex-start;
    margin-top: 10px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: transparent;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
  }

  &__item {
    margin-top: 0 !important;

    &.active {

      a {
        color: $white;
        background-color: $main-color;
        border-color: $main-color;
        pointer-events: none;
      }
    }

    &--prev,
    &--next {

      #{$block-name}__link {
        border: 2px solid $white;
        background-size: 6px 10px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--prev {
      //margin-right: 20px;

      #{$block-name}__link {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        transform: scale(-1, 1);
        background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$main-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$main-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$text-muted);
        }
      }
    }

    &--next {
      //margin-left: 20px;

      #{$block-name}__link {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$main-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$main-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/pagination/bg-img/arrow-right.svg', fill=$text-muted);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: $text-muted;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $main-color;
      background-color: $white;
      border-color: $main-color;
    }

    &--disabled,
    &:disabled {
      //background-color: $light-bg;
      pointer-events: none;
    }
  }
}
