.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $white;
  background-color: $main-color;
  background-image: none;
  border-radius: $border-radius;
  border: 2px solid $main-color;
  box-shadow: $shadow;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $link-color--hover;
    border-color: $link-color--hover;
    box-shadow: $shadow-top;
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    color: $main-color;
    background-color: rgba(162, 197, 69, 0.45);
    border-color: rgba(162, 197, 69, 0.1);
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__icon {
    //display: inline-block;
    //vertical-align: middle;
    &::before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--tel {
      &::before {
        background-size: 20px 20px;
        background-image: svg-load('../blocks/btn/bg-img/tel.svg', fill=$white);
      }
    }
  }

  &--inverted {
    color: $white;
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:focus {
      //color: #fff;
      //background-color: darken($color-main, 10%);
      //border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: $white;
      background-color: $link-color--hover;
      border-color: $link-color--hover;
      box-shadow: $shadow-top;
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }

  &--secondary {
    color: $main-color;
    background-color: $white;
    border-color: $main-color;
  }
}
