.lang-switcher {
  //@include col(xs, 5, $grid-columns, 20px);
  //@include col(md, 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $screen-md) {
    display: inline-flex;
    max-width: 90px;
    margin-left: 0;
  }

  $block-name:                &; // #{$block-name}__element

  .dropdown-toggle {
    padding: $field-padding-vertical  $field-padding-horizontal;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    line-height: $line-height;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    text-transform: none;
    color: inherit;
    background-color: $white;
    border: 2px solid transparent;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    border-left: 4px solid $main-color;

    &:hover,
    &:focus,
    &:active {
      color: $main-color;
      outline: none;
    }

    &::after {
      display: none;
    }

    &::after {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 10px;
      height: 6px;
      margin-left: 10px;
      //background: svg-load('../blocks/sprite-svg/svg/bottom-arrow-s.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));
      background: svg-load('../blocks/lang-switcher/bg-img/arrow-bottom.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px 6px;
      transition: transform $transition-time ease-out;
    }

    &[aria-expanded=true] {
      &::before {
        transform: rotate(180deg) translateY(2px);
      }
    }
  }

  .dropdown-menu {
    min-width: 65px;
  }

  .dropdown-item {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 500;
    //padding-right: 5px;
    color: inherit;

    &:hover,
    &:focus {
      color: $link-color--hover;
    }

    &:active {
      color: $white;
    }
  }
  .dropdown-item + .dropdown-item {
    padding-top: 10px;
  }
}
