.burger {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: $main-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-image: svg-load('../blocks/burger/bg-img/burger.svg', fill=$white);
  border: none;
  border-radius: 3px;
  box-shadow: $shadow;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    //background-color: $link-color--hover;
    outline: none;
  }


  &--close {
    background-color: $link-color--hover;
    background-image: svg-load('../blocks/burger/bg-img/burger--close.svg', fill=$white);
    box-shadow: $shadow-top;
  }
}
